.nome{
    color: blue;
    font-size: 40px;
    
  }
  .skills {
   max-width: 800px;
   margin: 0 auto;
 }
 
 .skill p {
   margin-bottom: 6px;
   font-weight: 500;
 }
 
 .barra {
   background-color: #222;
   border-radius: 6px;
   overflow: hidden;
   height: 25px;
 }
 
 .barra > div {
   height: 100%;
   padding-left: 10px;
   line-height: 25px;
   color: #000;
   font-weight: bold;
   animation: grow 2s ease forwards;
 }
 
 .html {
   width: 99%;
   background: linear-gradient(90deg, #00d2ff, #3a47d5);
 }
 
 .css {
   width: 95%;
   background: linear-gradient(90deg,#00d2ff, #3a47d5);
 }
 
 .seo {
   width: 90%;
   background: linear-gradient(90deg, #00d2ff, #3a47d5);
 }
 
 .design {
   width: 88%;
   background: linear-gradient(90deg, #00d2ff, #3a47d5);
 }
 @keyframes grow {
   from { width: 0; }
   to { width: inherit; }
 }